.daggerheart {
  a:hover {
    text-shadow: none;
  }
  a {
    cursor: auto;
    text-shadow: none;
  }
  input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus, input[type="search"]:focus {
    box-shadow: none !important;
  }
  input[type=text], input[type=number], input[type=password], input[type=date], input[type=time], input[type=datetime-local], input[type=search], input[type=file], select {
    box-shadow: none !important;
  }
  h1 {
    font-size: 1.2em;
    border-bottom: initial;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--dh-color-gold-dark);
    font-weight: 700;
    margin-top: .75em;
  }
  p:not(.editor-content p):not(.ProseMirror p) {
    font-size: 12px;
    margin: 0.25em 1.75em;
    margin-bottom: 1em;
    padding-left: .5em;
  }
  .editor,
  .editor-content {
    height: 100%;
    width: 95%;
    margin: auto;
  }
  .editor {
    border: 1px solid #6d6795;
    border-radius: 25px;
    padding: 1em;
  }
  .window-content {
    height: 97%;
    padding: 5px;
    overflow-y: hidden;
  }
  form {
    height: 100%;
  }
  .sheet-body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .tab {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0px;
      width: 100%;
      padding: 0.5em 5em;
    }
  }
  .click-rollable:hover, .basic-rollable:hover {
    cursor: pointer;
    filter: brightness(0.8);
    color: var(--dh-color-gold);
  }
}
