.editor-content * {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

/* Fix ProseMirror editor content styling - universal fix */
.daggerheart .editor-content,
.daggerheart .ProseMirror,
.daggerheart .item-description {
	p {
		margin: 0.5em 0 !important;
		padding-left: 0 !important;
		font-size: 14px;
		line-height: 1.5;
	}

	ul {
		margin: 0.5em 0 !important;
		padding-left: 1.5em !important;
		list-style-type: disc !important;
	}

	ol {
		margin: 0.5em 0 !important;
		padding-left: 1.5em !important;
		list-style-type: decimal !important;
	}

	li {
		margin: 0.25em 0 !important;
		padding: 0 !important;
		line-height: 1.5;
	}

	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin: 0.25em 0 !important;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 1em 0 0.5em 0 !important;
		padding: 0 !important;
		font-weight: bold;
		line-height: 1.3;
	}

	blockquote {
		margin: 1em 0 !important;
		padding: 0.5em 1em !important;
		border-left: 3px solid var(--dh-color-gold);
		background-color: rgba(243, 194, 103, 0.1);
		font-style: italic;
	}
}

.prosemirror {
	menu {
		button {
			color: var(--dh-color-off-white);

			&.active {
				color: #0b0a13;
			}
		}
	}
}
