/* General Sheet and Window Layouts */

/* Sheet Sizing */
.daggerheart.sheet.actor {
	min-width: 690px;
	min-height: 600px;
}

.daggerheart.sheet.npc,
.daggerheart.sheet.companion,
.daggerheart.sheet.environment {
	min-width: 690px;
	min-height: 500px;
}

.daggerheart.sheet.item {
	min-width: 350px;
	min-height: 400px;
}

/* Window Content Styling */
.actor .window-content,
.item .window-content,
.npc .window-content,
.companion .window-content,
.environment .window-content {
	background: transparent;
	background-color: transparent;
	color: #f0f0e0;
	border: none;
	border-radius: 0 0 10px 10px;
	border-top: none;
	position: relative;
}

.item .window-content {
	padding: 1em 2em;
}

/* Window Header Styling */
.actor .window-header,
.npc .window-header,
.companion .window-header,
.item .window-header,
.environment .window-header {
	background: transparent;
	border: none;
	box-shadow: none;
	color: #ffffff;
	cursor: auto;
	position: relative;
	text-shadow: none !important;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	position: relative;
}

/* Sheet Backgrounds */
.actor {
	background: transparent;
}

.npc {
	background: transparent;

	.header-resources-row {
		margin-left: 0;
		display: flex;
		justify-content: space-evenly;
	}
	.header-right {
		height: 100%;
	}
	.header-left .profile-img {
		width: 200px;
		height: 250px;
	}
}

.companion {
	background: transparent;
}

.environment {
	background: transparent;
}

.sheet.actor,
.sheet.npc,
.sheet.companion,
.sheet.item,
.sheet.environment {
	background: rgba(11, 10, 19, 0.8392156863);
	backdrop-filter: blur(5px);
}

/* Input Styling for Sheets */
.daggerheart .actor input[type='text'],
.daggerheart .actor input[type='number'],
.daggerheart .actor input[type='password'],
.daggerheart .actor input[type='date'],
.daggerheart .actor input[type='time'],
.daggerheart .actor input[type='search'] {
	color: #f0f0e0;
}

.daggerheart .npc input[type='text'],
.daggerheart .npc input[type='number'],
.daggerheart .npc input[type='password'],
.daggerheart .npc input[type='date'],
.daggerheart .npc input[type='time'],
.daggerheart .npc input[type='search'] {
	color: #f0f0e0;
}

.daggerheart .companion input[type='text'],
.daggerheart .companion input[type='number'],
.daggerheart .companion input[type='password'],
.daggerheart .companion input[type='date'],
.daggerheart .companion input[type='time'],
.daggerheart .companion input[type='search'] {
	color: #f0f0e0;
}

/* General Text and Label Styling for Companion Sheets */
.daggerheart .companion {
	color: #f0f0e0;

	label {
		color: var(--dh-color-off-white);
	}

	a {
		color: var(--dh-color-off-white);

		&:hover {
			color: var(--dh-color-gold);
		}
	}

	.trait-effects {
		color: #6c6a85;
	}

	.weapon-label {
		color: var(--dh-color-off-white) !important;
	}

	.charname input {
		color: var(--dh-color-gold);
	}

	.resource-label-controls label {
		color: var(--dh-color-off-white);
	}

	/* Keep evasion defense text black for light background */
	.defense[data-trait='evasion'] input,
	.defense[data-trait='evasion'] label,
	.defense[data-trait='evasion'] {
		color: var(--dh-color-off-black) !important;
	}
	.defense[data-trait='evasion'] label,
	.defense[data-trait='evasion'] {
		color: var(--dh-color-off-white) !important;
	}
}

/* NPC Sheet Specific Styling */
.daggerheart .npc {
	/* Make evasion defense text white for dark background */
	.defense[data-defense='evasion'] label {
		color: var(--dh-color-off-white) !important;
	}
}

/* Item Sheet Specific Layouts */
.item-bg {
	position: absolute;
	top: -2.25vh;
	left: 0;
	width: 100%;
	height: 25rem;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	z-index: -1;
	margin-left: -10%;
	filter: brightness(30%) blur(5px);
	mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	-webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	margin: auto;
}

.daggerheart.sheet.item {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
	text-shadow: 1px 1px 2px black;
	border-radius: 10px;
}

.item .sheet-body .tab {
	height: 100%;
	overflow: visible;
	margin: 0px;
	padding: 0px;
	width: 100%;
	padding-top: 0em;
	padding-bottom: 1.25em;
	border-top: 1px solid var(--dh-color-gold);
}

.item .flexcol {
	position: relative;
}

.item .sheet-header {
	position: relative;
	z-index: 1;
}

/* Base Sheet Body Layout */
.daggerheart {
	.window-content {
		height: 97%;
		padding: 5px;
		overflow-y: hidden;
	}

	form {
		height: 100%;
	}

	.sheet-body {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;

		.tab {
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			margin: 0px;
			width: 100%;
			padding: 1em 5em;
		}
	}
}
body.game .app {
	border-radius: 10px;

	img {
		/* no border on images */
	}

	button:hover,
	button:focus {
		box-shadow: none;
	}

	button {
		border: 1px solid var(--dh-color-gold);
	}

	textarea {
		font-family: var(--font-body);
	}
}
