<nav class="sheet-tabs tabs">
    {{#each tabs as |tab index|}}
    <a class="item {{tab.css}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}">{{tab.label}}</a>
    {{/each}}
</nav>