<form class="flexcol {{cssClass}} {{#if isDying}}dying{{/if}}" autocomplete="off" style="overflow: visible;">
    <div class="item-bg" style="background-image: url('{{data.img}}');"></div>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-wrapper">
            <div class="header-left">
                <div class="portrait-container">
                    <div class="portrait-image-wrapper">
                        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
                        {{#if isDying}}
                        <div class="death-overlay" title="NPC is dying!">
                            <i class="fas fa-skull"></i>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="header-right">
                <div class="header-top-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{data.name}}" placeholder="Name"
                            style="font-size: 2.5em;">
                    </h1>
                    <div class="header-domain">
                        <input type="text" name="system.chosenDomains.domain-one"
                            value="{{systemData.chosenDomains.domain-one}}" placeholder="{{localize " DH.TierX"}}"
                            style="font-size: 1em;">
                        <input type="text" name="system.chosenDomains.domain-two"
                            value="{{systemData.chosenDomains.domain-two}}" placeholder="{{localize " DH.Solo"}}"
                            style="font-size: 1em;">
                    </div>
                </div>

                <div class="npc-defense-section">
                    <div class="defense" data-defense="evasion">
                        <div class="attribute-value-display defense-value-display"
                            data-field="system.defenses.evasion.value" data-label="Difficulty" data-has-modifiers="true"
                            data-min="0">{{systemData.defenses.evasion.value}}</div>
                        <label data-trait-tooltip="{{systemData.defenses.evasion.tooltip}}">{{localize
                            "DH.Difficulty"}}</label>
                    </div>
                    <div class="threshold-group">
                        <label>Threshold</label>
                        <div class="threshold-values">
                            <span class="threshold-text threshold-clickable" data-action="mark-hp"
                                data-hp-amount="1">Mark 1 HP</span>
                            <div class="resource-group">
                                <input type="number" name="system.threshold.major"
                                    value="{{systemData.threshold.major}}">
                                <a class="trait-effects">Major</a>
                            </div>
                            <span class="threshold-text threshold-clickable" data-action="mark-hp"
                                data-hp-amount="2">Mark 2 HP</span>
                            <div class="resource-group">
                                <input type="number" name="system.threshold.severe"
                                    value="{{systemData.threshold.severe}}">
                                <a class="trait-effects">Severe</a>
                            </div>
                            <span class="threshold-text threshold-clickable" data-action="mark-hp"
                                data-hp-amount="3">Mark 3 HP</span>
                        </div>
                    </div>
                </div>

                <div class="header-resources-row">
                    <div class="resource health">
                        <div class="resource-content">
                            <div class="resource-box">
                                <input type="number" name="system.health.value" value="{{systemData.health.value}}"
                                    min="0" max="{{systemData.health.max}}">
                                <span>/</span>
                                <input type="number" name="system.health.max" value="{{systemData.health.max}}" min="0">
                            </div>
                        </div>
                        <div class="resource-label-controls">
                            <a class="resource-control" data-action="decrement" data-field="health.value"><i
                                    class="fas fa-minus"></i></a>
                            <label>Hit Points</label>
                            <a class="resource-control" data-action="increment" data-field="health.value"><i
                                    class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="resource stress">
                        <div class="resource-content">
                            <div class="resource-box">
                                <input type="number" name="system.stress.value" value="{{systemData.stress.value}}"
                                    min="0" max="{{systemData.stress.max}}">
                                <span>/</span>
                                <input type="number" name="system.stress.max" value="{{systemData.stress.max}}" min="0">
                            </div>
                        </div>
                        <div class="resource-label-controls">
                            <a class="resource-control" data-action="decrement" data-field="stress.value"><i
                                    class="fas fa-minus"></i></a>
                            <label>Stress</label>
                            <a class="resource-control" data-action="increment" data-field="stress.value"><i
                                    class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="adversary">{{localize "DH.Adversary"}}</a>
        <a class="item" data-tab="description">{{localize "DH.Description"}}</a>
        <a class="item" data-tab="simple" style="display: none;">{{localize "DH.Simple"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>
    {{#if settings.simple}}
        <div class="tab simple" data-group="primary" data-tab="simple">
            {{> "systems/daggerheart/templates/parts/npc-weapons.html"}}

            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>
    {{else}}
        <div class="tab adversary" data-group="primary" data-tab="adversary">

            <div class="defenses">
                {{> "systems/daggerheart/templates/parts/npc-weapons.html"}}
            </div>

            <div class="inventory">
                <div class="tab-category {{#unless uiState.categoryStates.backpack}}section-collapsed{{/unless}}">
                    {{localize "DH.AdversaryFeatures"}}
                    <div class="category-controls">
                        <a class="item-control" data-action="create-item" data-type="item" data-location="backpack"
                            title="{{localize " SIMPLE.ItemCreate"}}">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a class="item-control category-toggle" data-category="backpack" title="{{localize "
                            SIMPLE.ToggleCategory"}}">
                            <i class="fas fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <ol class="item-list {{#unless uiState.categoryStates.backpack}}category-collapsed{{/unless}}"
                    data-location="backpack">
                    {{#each data.items as |item id|}}
                    {{#if (or (eq item.system.location "backpack") (and (not item.system.location) (eq item.type
                    "item")))}}
                    <li class="item" data-item-id="{{item._id}}">
                        <div class="item-main-row">
                            <div class="item-top-row">
                                <img class="item-control" data-action="edit" src="{{item.img}}" title="{{item.name}}"
                                    width="30" height="30" />
                                <h4 class="item-name" data-action="toggle-description">{{item.name}}
                                    {{#if item.system.category}}
                                    <span class="item-category-tag">{{item.system.category}}</span>
                                    {{/if}}
                                    {{#if item.system.rarity}}
                                    <span class="item-rarity-tag">{{item.system.rarity}}</span>
                                    {{/if}}
                                </h4>
                            </div>
                            <div class="item-controls">
                                <a class="item-control" data-action="edit" title="{{localize " SIMPLE.ItemEdit"}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control" data-action="delete" title="{{localize "
                                    SIMPLE.ItemDelete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            {{{item.system.enrichedDescription}}}
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>

                <div class="tab-category {{#unless uiState.categoryStates.passives}}section-collapsed{{/unless}}">
                    {{localize "DH.AdversaryPassives"}}
                    <div class="category-controls">
                        <a class="item-control" data-action="create-item" data-type="item" data-location="passives"
                            title="{{localize " SIMPLE.ItemCreate"}}">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a class="item-control category-toggle" data-category="passives" title="{{localize "
                            SIMPLE.ToggleCategory"}}">
                            <i class="fas fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <ol class="item-list {{#unless uiState.categoryStates.passives}}category-collapsed{{/unless}}"
                    data-location="passives">
                    {{#each data.items as |item id|}}
                    {{#if (or (eq item.system.location "passives") (and (not item.system.location) (eq item.type
                    "item")))}}
                    <li class="item" data-item-id="{{item._id}}">
                        <div class="item-main-row">
                            <div class="item-top-row">
                                <img class="item-control" data-action="edit" src="{{item.img}}" title="{{item.name}}"
                                    width="30" height="30" />
                                <h4 class="item-name" data-action="toggle-description">{{item.name}}
                                    {{#if item.system.category}}
                                    <span class="item-category-tag">{{item.system.category}}</span>
                                    {{/if}}
                                    {{#if item.system.rarity}}
                                    <span class="item-rarity-tag">{{item.system.rarity}}</span>
                                    {{/if}}
                                </h4>
                            </div>
                            <div class="item-controls">
                                <a class="item-control" data-action="edit" title="{{localize " SIMPLE.ItemEdit"}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control" data-action="delete" title="{{localize "
                                    SIMPLE.ItemDelete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            {{{item.system.enrichedDescription}}}
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>
    {{/if}}
    </section>
</form>