<form class="flexcol {{cssClass}} {{#if isOutOfScene}}dying{{/if}}" autocomplete="off">
    <div class="item-bg" style="background-image: url('{{data.img}}');"></div>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-main-container">
            <div class="portrait-container">
                <div class="portrait-image-wrapper">
                    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
                    {{#if isOutOfScene}}
                    <div class="death-overlay" title="Companion is out of scene!">
                        <i class="fas fa-skull"></i>
                    </div>
                    {{/if}}
                </div>

                <div class="portrait-resources">
                    <div class="resource stress">
                        <div class="resource-content">
                            <div class="resource-box">
                                <input type="number" name="system.stress.value" value="{{systemData.stress.value}}" min="0" max="{{systemData.stress.max}}" />
                                <span>/</span>
                                <input type="number" name="system.stress.max" value="{{systemData.stress.max}}" min="0" />
                            </div>
                        </div>
                        <div class="resource-label-controls">
                            <a class="resource-control" data-action="decrement" data-field="stress.value"><i class="fas fa-minus"></i></a>
                            <label data-trait-tooltip="{{systemData.stress.tooltip}}">{{localize "DH.Stress"}}</label>
                            <a class="resource-control" data-action="increment" data-field="stress.value"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom-container">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "DH.Name"}}" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="companion">{{localize "DH.Companion"}}</a>
        <a class="item" data-tab="biography">{{localize "DH.Biography"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab companion" data-group="primary" data-tab="companion">
            <div class="companion-defense-section">
                <div class="defense" data-trait="evasion">
                    <input type="number" name="system.defenses.evasion.value"
                        value="{{systemData.defenses.evasion.value}}" />
                    <label for="system.defenses.evasion.value">{{localize "DH.Evasion"}}</label>
                </div>

                <div class="companion-weapon-section">
                    <div class="weapon-group">
                        <div class="weapon-row">
                            <label class="weapon-label">{{localize "DH.PrimaryAttack"}}</label>
                            <div class="weapon-box click-rollable-group basic-rollable-group">
                                <button type="button" class="weapon-attack-button click-rollable" data-roll-type="attack" title="Roll Attack">
                                    <i class="fas fa-sword"></i>
                                </button>
                                <div class="weapon-box-inner">
                                    <div class="weapon-infobox-first">
                                        <input class="weapon-field basic-rollable-name click-rollable-name"
                                            name="system.weapon-main.name" type="text"
                                            value="{{systemData.weapon-main.name}}" />
                                            <div class="textarea-container">
                                                <input class="trait-effects resize-ta" name="system.weapon-main.description"
                                                    value="{{systemData.weapon-main.description}}" />
                                            </div>
                                    </div>
                                    <div class="weapon-roller-box">
                                        <div class="weapon-infobox">
                                            <input class="weapon-to-hit click-rollable-modifier"
                                                name="system.weapon-main.to-hit" type="number"
                                                value="{{systemData.weapon-main.to-hit}}" />
                                            <a class="trait-effects click-rollable" data-roll-type="attack">{{localize "DH.Modifier"}}</a>
                                        </div>
                                        <div class="weapon-infobox">
                                            <input class="weapon-damage basic-rollable-value"
                                                name="system.weapon-main.damage" type="text"
                                                value="{{systemData.weapon-main.damage}}" />
                                            <a class="trait-effects basic-rollable" data-roll-type="damage">{{localize "DH.Damage"}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="experience-group">
                <div class="experience-row click-rollable-group">
                    <div class="experience-row-column">
                        <div class="exp-level"><input type="number" name="system.experience.1level" value="{{systemData.experience.1level}}" placeholder="1" /></div>
                        <a class="trait-effects">{{localize "DH.Level"}}</a>  
                    </div>
                    <div class="experience-row-column-2">
                        <input class="click-rollable-name" name="system.experience.1Name" type="text"
                            value="{{systemData.experience.1Name}}" placeholder="{{localize "DH.Experience"}}" />
                    </div>
                    <div class="experience-row-column">
                        <input class="click-rollable-modifier" type="number" name="system.experience.1Mod"
                            value="{{systemData.experience.1Mod}}" />
                    </div>
                </div>
                <div class="experience-row click-rollable-group">
                    <div class="experience-row-column">
                        <div class="exp-level"><input type="number" name="system.experience.2level" value="{{systemData.experience.2level}}" placeholder="1"/></div>
                        <a class="trait-effects">{{localize "DH.Level"}}</a>
                    </div>
                    <div class="experience-row-column-2">
                        <input class="click-rollable-name" name="system.experience.2Name" type="text" value="{{systemData.experience.2Name}}" placeholder="{{localize "DH.Experience"}}"/>
                    </div>
                    <div class="experience-row-column">
                        <input class="click-rollable-modifier"type="number" name="system.experience.2Mod" value="{{systemData.experience.2Mod}}"/>
                    </div>
                </div>
                <div class="experience-row click-rollable-group">
                    <div class="experience-row-column">
                        <div class="exp-level"><input type="number" name="system.experience.5level" value="{{systemData.experience.5level}}" placeholder="2"/></div>
                        <a class="trait-effects">{{localize "DH.Level"}}</a>
                    </div>
                    <div class="experience-row-column-2">
                        <input class="click-rollable-name" name="system.experience.5Name" type="text" value="{{systemData.experience.5Name}}" placeholder="{{localize "DH.Experience"}}"/>
                    </div>
                    <div class="experience-row-column">
                        <input class="click-rollable-modifier"type="number" name="system.experience.5Mod" value="{{systemData.experience.5Mod}}"/>
                    </div>
                </div>
                <div class="experience-row click-rollable-group">
                    <div class="experience-row-column">
                        <div class="exp-level"><input type="number" name="system.experience.8level" value="{{systemData.experience.8level}}" placeholder="5"/></div>
                        <a class="trait-effects">{{localize "DH.Level"}}</a>
                    </div>
                    <div class="experience-row-column-2">
                        <input class="click-rollable-name" name="system.experience.8Name" type="text" value="{{systemData.experience.8Name}}" placeholder="{{localize "DH.Experience"}}"/>
                    </div>
                    <div class="experience-row-column">
                        <input class="click-rollable-modifier"type="number" name="system.experience.8Mod" value="{{systemData.experience.8Mod}}"/>
                    </div>
                </div>
                <div class="experience-row click-rollable-group">
                    <div class="experience-row-column">
                        <div class="exp-level"><input type="number" name="system.experience.11level" value="{{systemData.experience.11level}}" placeholder="8"/></div>
                        <a class="trait-effects">{{localize "DH.Level"}}</a>
                    </div>
                    <div class="experience-row-column-2">
                        <input class="click-rollable-name" name="system.experience.1Name2" type="text"
                            value="{{systemData.experience.1Name2}}" placeholder="{{localize "DH.Experience"}}" />
                    </div>
                    <div class="experience-row-column">
                        <input class="click-rollable-modifier" type="number" name="system.experience.1Mod2"
                            value="{{systemData.experience.1Mod2}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="tab biography" data-group="primary" data-tab="biography">
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>
