<form class="flexcol {{cssClass}} {{#if isDying}}dying{{/if}}" autocomplete="off" style="overflow: visible;">
    <div class="item-bg" style="background-image: url('{{data.img}}');"></div>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-main-container">
            <div class="resource health">
                <div class="resource-content">
                    <div class="resource-box">
                        <input type="number" name="system.health.value" value="{{systemData.health.value}}" min="0" max="{{systemData.health.max}}" />
                        <span>/</span>
                        <input type="number" name="system.health.max" value="{{systemData.health.max}}" min="0" />
                    </div>
                </div>
                <div class="resource-label-controls">
                    <a class="resource-control" data-action="decrement" data-field="health.value"><i class="fas fa-minus"></i></a>
                    <label>{{localize "DH.HitPoints"}}</label>
                    <a class="resource-control" data-action="increment" data-field="health.value"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="portrait-container">
                <div class="portrait-image-wrapper">
                    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
                    {{#if isDying}}
                    <div class="death-overlay" title="NPC is dying!">
                        <i class="fas fa-skull"></i>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="resource stress">
                <div class="resource-content">
                    <div class="resource-box">
                        <input type="number" name="system.stress.value" value="{{systemData.stress.value}}" min="0" max="{{systemData.stress.max}}" />
                        <span>/</span>
                        <input type="number" name="system.stress.max" value="{{systemData.stress.max}}" min="0" />
                    </div>
                </div>
                <div class="resource-label-controls">
                    <a class="resource-control" data-action="decrement" data-field="stress.value"><i class="fas fa-minus"></i></a>
                    <label>{{localize "DH.Stress"}}</label>
                    <a class="resource-control" data-action="increment" data-field="stress.value"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="header-bottom-container">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "DH.Name"}}" />
            </h1>
            <div class="header-domain">
                <input type="text" name="system.chosenDomains.domain-one" value="{{systemData.chosenDomains.domain-one}}"
                    placeholder="{{localize "DH.TierX"}}" />
                <input type="text" name="system.chosenDomains.domain-two" value="{{systemData.chosenDomains.domain-two}}"
                    placeholder="{{localize "DH.Solo"}}" />
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "DH.Description"}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="npc-defense-section">
                <div class="defense" data-trait="evasion">
                    <input type="number" name="system.defenses.evasion.value"
                        value="{{systemData.defenses.evasion.value}}" />
                    <label for="system.defenses.evasion.value">{{localize "DH.Difficulty"}}</label>
                </div>
                <div class="threshold-group">
                    <label>{{localize "DH.Threshold"}}</label>
                    <div class="threshold-values">
                        <span class="threshold-text threshold-clickable" data-action="mark-hp" data-hp-amount="1">{{localize "DH.Mark1HP"}}</span>
                        <div class="resource-group">
                            <input type="number" name="system.threshold.major"
                                value="{{systemData.threshold.major}}" />
                            <a class="trait-effects">{{localize "DH.Major"}}</a>
                        </div>
                        <span class="threshold-text threshold-clickable" data-action="mark-hp" data-hp-amount="2">{{localize "DH.Mark2HP"}}</span>
                        <div class="resource-group">
                            <input type="number" name="system.threshold.severe"
                                value="{{systemData.threshold.severe}}" />
                            <a class="trait-effects">{{localize "DH.Severe"}}</a>
                        </div>
                        <span class="threshold-text threshold-clickable" data-action="mark-hp" data-hp-amount="3">{{localize "DH.Mark3HP"}}</span>
                    </div>
                </div>
            </div>
            <div class="defenses">
                <div class="weapon-group">
                    <div class="weapon-row">
                        <label class="weapon-label">{{localize "DH.PrimaryAttack"}}</label>
                        <div class="weapon-box click-rollable-group basic-rollable-group">
                            <button type="button" class="weapon-attack-button click-rollable" data-roll-type="attack" title="Roll Attack">
                                <i class="fas fa-sword"></i>
                            </button>
                            <div class="weapon-box-inner">
                                <div class="weapon-infobox-first">
                                    <input class="weapon-field basic-rollable-name click-rollable-name"
                                        name="system.weapon-main.name" type="text"
                                        value="{{systemData.weapon-main.name}}" placeholder="{{localize "DH.Attack"}}" />
                                        <div class="textarea-container">
                                            <input class="trait-effects resize-ta" name="system.weapon-main.description"
                                                placeholder="{{localize "DH.AttackTraitsHere"}}"
                                                value="{{systemData.weapon-main.description}}" />
                                        </div>
                                </div>
                                <div class="weapon-roller-box">
                                    <div class="weapon-infobox">
                                        <input class="weapon-to-hit click-rollable-modifier"
                                            name="system.weapon-main.to-hit" type="number"
                                            value="{{systemData.weapon-main.to-hit}}" placeholder="2" />
                                        <a class="trait-effects click-rollable" data-roll-type="attack">{{localize "DH.Modifier"}}</a>
                                    </div>
                                    <div class="weapon-infobox">
                                        <div class="weapon-damage-display damage-value-display"
                                             data-field="system.weapon-main.damage"
                                             data-label="Primary Attack Damage"
                                             data-has-modifiers="true"
                                             data-edit-type="damage">{{#if systemData.weapon-main.damage.baseValue}}{{systemData.weapon-main.damage.baseValue}}{{#if systemData.weapon-main.damage.modifiers}}{{#each systemData.weapon-main.damage.modifiers}}{{#if this.enabled}} {{this.value}}{{/if}}{{/each}}{{/if}}{{else}}{{#if systemData.weapon-main.damage}}{{systemData.weapon-main.damage}}{{else}}1d8{{/if}}{{/if}}</div>
                                        <a class="trait-effects basic-rollable" data-roll-type="damage">{{localize "DH.Damage"}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>
