/* Header overall layout */
.header-wrapper {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: 0 auto;
}

.header-left {
	flex: 0 0 140px;
	margin-right: 1rem; /* space between portrait and other fields */
}

/* Constrain portrait exactly to left column */
.header-left .portrait-container {
	width: auto;
	height: auto;
	position: relative;
}

.header-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85%;
}

.header-top-fields {
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: right;
	align-content: flex-start;
	flex-wrap: nowrap;
}

.header-resources-row {
	display: flex;
	gap: 0.5rem;
	flex-wrap: nowrap;
	flex-direction: row;
	margin-left: -8em;
	z-index: 1;
	margin-top: 0;
	justify-content: space-between;
	padding: 0.8em 0.25em;
	background: rgb(11, 10, 19, 0.8);
	border: 1px solid var(--dh-color-gold);
	border-radius: 15px;
	backdrop-filter: blur(3px);

	.resource {
		min-width: 120px;
		text-align: center;
	}

	/*.resource-label-controls label {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.55), 0 0 8px rgba(0, 0, 0, 0.45);
  }*/
}

.header-domain {
	justify-content: flex-end;
}

/* Full-width card bar positioning */
.header-loadout-bar {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.header-left .profile-img {
	border: none;
	border-radius: 8px;
	display: block;
	width: 100%;
	height: auto;
	box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.4);
	border: 1px solid var(--dh-color-gold);
}
