@charset "UTF-8";
$black_0a0f21: #0a0f21;
$black_1c1c1c: #1c1c1c;
$gainsboro_d8d8d6: #d8d8d6;
$khaki_fef790: #fef790;
$mediumturquoise_81ccc3: #81ccc3;
$midnightblue_1e184d: #1e184d;
$midnightblue_38227b: #38227b;
$peru_e38c3e: #e38c3e;
$sandybrown_f3c267: #f3c267;
$steelblue_2878be: #2878be;
$whitesmoke_F2F3F4: #f2f3f4;
